@keyframes remplissage {
  25% {
    opacity: 0.6;
  }
  50% {
    opacity: 0.8;
  }
  75% {
    opacity: 0.95;
  }
  100% {
    opacity: 1;
  }
}
@keyframes drop-box {
  0% {
    transform: translateY(-1000%);
    opacity: 0.5;
  }
  70% {
    transform: translateY(0%);
    opacity: 0.75;
  }
  90% {
    transform: translateY(-3px);
    opacity: 0.95;
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}
.box-p:nth-child(1) {
  transform: translateY(-100%);
  animation-name: drop-box;
  animation-duration: 1500ms;
  animation-timing-function: cubic-bezier(0.74, 0.35, 1, 0.91);
  animation-fill-mode: forwards;
  animation-delay: 200ms;
}

.box-p:nth-child(2) {
  transform: translateY(-100%);
  animation-name: drop-box;
  animation-duration: 1500ms;
  animation-timing-function: cubic-bezier(0.74, 0.35, 1, 0.91);
  animation-fill-mode: forwards;
  animation-delay: 400ms;
}

.box-p:nth-child(3) {
  transform: translateY(-100%);
  animation-name: drop-box;
  animation-duration: 1500ms;
  animation-timing-function: cubic-bezier(0.74, 0.35, 1, 0.91);
  animation-fill-mode: forwards;
  animation-delay: 600ms;
}

.box-p:nth-child(4) {
  transform: translateY(-100%);
  animation-name: drop-box;
  animation-duration: 1500ms;
  animation-timing-function: cubic-bezier(0.74, 0.35, 1, 0.91);
  animation-fill-mode: forwards;
  animation-delay: 800ms;
}

.box-p:nth-child(5) {
  transform: translateY(-100%);
  animation-name: drop-box;
  animation-duration: 1500ms;
  animation-timing-function: cubic-bezier(0.74, 0.35, 1, 0.91);
  animation-fill-mode: forwards;
  animation-delay: 1000ms;
}

@keyframes hourglass {
  0% {
    transform: rotate(0);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    transform: scale(1);
  }
  50% {
    transform: rotate(900deg);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  99% {
    transform: scale(1);
  }
  100% {
    transform: rotate(1800deg);
    transform: scale(0);
  }
}
@keyframes flash {
  0% {
    background-image: linear-gradient(#9356DC, #FF79DA);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    text-shadow: 0 0 7px linear-gradient(#9356DC, #FF79DA);
    transform: scale(1);
  }
  90% {
    color: #99E2D0;
    text-shadow: none;
  }
  99% {
    transform: scale(1);
  }
  100% {
    background-image: linear-gradient(#9356DC, #FF79DA);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    text-shadow: 0 0 7px linear-gradient(#9356DC, #FF79DA);
    transform: scale(0);
  }
}
@keyframes lesscale {
  0% {
    transform: scale(1);
  }
  99% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
h1 {
  font-family: "Shrikhand", cursive;
}

body *:not(h1) {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}

* {
  margin: 0;
  padding: 0;
}

.container-g {
  margin-left: auto;
  margin-right: auto;
  max-width: 1440px;
}

a {
  text-decoration: none;
  color: black;
}

.btn {
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.25);
  border: none;
  cursor: pointer;
}
.btn__large {
  width: 186px;
  height: 50px;
  border-radius: 25px;
  background: linear-gradient(#FF79DA, #9356DC);
  color: white;
  margin-bottom: 40px;
  margin-top: 10px;
}
.btn__large:hover {
  background: linear-gradient(#ff93e1, #a16be0);
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.35);
}
.btn__extralarge {
  width: 218px;
  margin-bottom: 57px;
}

.nouveau {
  width: 80px;
  height: 30px;
  position: absolute;
  right: 20px;
  top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  background-color: #99E2D0;
}
.nouveau p {
  font-size: 14px;
  font-weight: 500;
  color: #008766;
}

.container-loader {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  width: 100%;
  height: 100vh;
  z-index: 500;
  background-color: rgb(123, 190, 245);
  animation: lesscale 3s linear forwards;
}
.container-loader .lettre {
  color: #99E2D0;
  font-size: 4.5rem;
  letter-spacing: 15px;
  animation: flash 1200ms linear 3 100ms forwards;
  z-index: 500;
}
.container-loader .lds-hourglass {
  display: block;
  border-radius: 50%;
  width: 0;
  height: 0;
  margin: 8px;
  box-sizing: border-box;
  border: 32px solid #9356DC;
  border-color: #9356DC transparent #FF79DA transparent;
  animation: hourglass 1200ms linear 3 100ms forwards;
  z-index: 500;
}

.lettre:nth-child(1) {
  animation-delay: 0.1s;
}

.lettre:nth-child(2) {
  animation-delay: 0.2s;
}

.lettre:nth-child(3) {
  animation-delay: 0.3s;
}

.lettre:nth-child(4) {
  animation-delay: 0.4s;
}

.lettre:nth-child(5) {
  animation-delay: 0.5s;
}

.lettre:nth-child(6) {
  animation-delay: 0.6s;
}

.lettre:nth-child(7) {
  animation-delay: 0.7s;
}

.lettre:nth-child(8) {
  animation-delay: 0.8s;
}

footer {
  background-color: #353535;
  padding-left: 25px;
  padding-bottom: 30px;
}
@media all and (min-width: 1024px) {
  footer {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
    align-items: center;
    padding: 0;
    height: 114px;
  }
}
footer h3 {
  font-family: "Shrikhand";
  color: white;
  font-size: 18px;
  padding-top: 20px;
  padding-bottom: 10px;
}
@media all and (min-width: 1024px) {
  footer h3 {
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 40px;
    padding-right: 100px;
  }
}
footer i {
  color: white;
  font-size: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
footer p {
  color: white;
  padding: 2px;
}
footer .foot-det {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media all and (min-width: 1024px) {
  footer .foot-det {
    flex-direction: row;
  }
}
footer .foot-det a {
  text-decoration: none;
  color: white;
  padding: 2px;
}
@media all and (min-width: 1024px) {
  footer .foot-det {
    display: flex;
    gap: 40px;
    align-items: flex-end;
    justify-content: center;
  }
}
footer .foot-det__prop {
  display: flex;
  gap: 15px;
  align-items: center;
}
footer .foot-det__dev {
  display: flex;
  gap: 10px;
}

.header {
  display: flex;
  flex-direction: column;
}
.header .logo {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
  height: 63px;
  align-items: center;
  justify-content: center;
  display: flex;
}
.header .logo a {
  position: absolute;
  left: 22px;
}
.header .logo a i {
  font-size: 1.5rem;
}
.header .header-photo {
  width: 100%;
  height: 275px;
  z-index: -1;
  object-fit: cover;
}
@media all and (min-width: 1024px) {
  .header .header-photo {
    height: 400px;
  }
}
.header .lieu {
  display: flex;
  background-color: #EAEAEA;
  align-items: center;
  justify-content: center;
  height: 50px;
  gap: 17px;
}
.header .lieu__search {
  border: none;
  background-color: #EAEAEA;
}
.header .decouv-rest {
  background-color: #F6F6F6;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 39px;
}
.header .decouv-rest h1 {
  font-family: "roboto";
}
.header .decouv-rest p {
  font-size: 18px;
  font-weight: 300;
  padding-top: 10px;
  padding-bottom: 20px;
}
.header .fonctionnement {
  margin-left: 20px;
  margin-right: 20px;
  padding-bottom: 68px;
}
.header .fonctionnement .fonct-t {
  padding-top: 50px;
  padding-bottom: 25px;
  font-size: 24px;
}

.lestroisbtn {
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.lestroisbtn .lestroisbtn__1 {
  counter-increment: i;
}
.lestroisbtn .lestroisbtn__1__box {
  background-color: #F6F6F6;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);
  border-radius: 20px;
  height: 72px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 30px;
  padding-right: 10px;
  gap: 20px;
}
.lestroisbtn .lestroisbtn__1__box::before {
  content: counter(i);
  background-color: #9356DC;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  color: white;
  justify-content: center;
  position: absolute;
  transform: translateX(-40px);
}
.lestroisbtn .lestroisbtn__1__box:hover {
  background-color: #F5EDFF;
}
.lestroisbtn .lestroisbtn__1__box:hover .lestroisbtn__1__box__icon-color {
  color: #9356DC;
}
.lestroisbtn .lestroisbtn__1__box:hover .lestroisbtn__2__box__icon-color {
  color: #9356DC;
}
.lestroisbtn .lestroisbtn__1__box:hover .lestroisbtn__3__box__icon-color {
  color: #9356DC;
}
.lestroisbtn .lestroisbtn__1__box__icon-color {
  color: #7E7E7E;
}
.lestroisbtn .lestroisbtn__2 {
  counter-increment: i;
}
.lestroisbtn .lestroisbtn__2__box {
  background-color: #F6F6F6;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);
  border-radius: 20px;
  height: 72px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 30px;
  padding-right: 10px;
  gap: 20px;
}
.lestroisbtn .lestroisbtn__2__box::before {
  content: counter(i);
  background-color: #9356DC;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  color: white;
  justify-content: center;
  position: absolute;
  transform: translateX(-40px);
}
.lestroisbtn .lestroisbtn__2__box:hover {
  background-color: #F5EDFF;
}
.lestroisbtn .lestroisbtn__2__box:hover .lestroisbtn__1__box__icon-color {
  color: #9356DC;
}
.lestroisbtn .lestroisbtn__2__box:hover .lestroisbtn__2__box__icon-color {
  color: #9356DC;
}
.lestroisbtn .lestroisbtn__2__box:hover .lestroisbtn__3__box__icon-color {
  color: #9356DC;
}
.lestroisbtn .lestroisbtn__2__box__icon-color {
  color: #7E7E7E;
}
.lestroisbtn .lestroisbtn__3 {
  counter-increment: i;
}
.lestroisbtn .lestroisbtn__3__box {
  background-color: #F6F6F6;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);
  border-radius: 20px;
  height: 72px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 30px;
  padding-right: 10px;
  gap: 20px;
}
.lestroisbtn .lestroisbtn__3__box::before {
  content: counter(i);
  background-color: #9356DC;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  color: white;
  justify-content: center;
  position: absolute;
  transform: translateX(-40px);
}
.lestroisbtn .lestroisbtn__3__box:hover {
  background-color: #F5EDFF;
}
.lestroisbtn .lestroisbtn__3__box:hover .lestroisbtn__1__box__icon-color {
  color: #9356DC;
}
.lestroisbtn .lestroisbtn__3__box:hover .lestroisbtn__2__box__icon-color {
  color: #9356DC;
}
.lestroisbtn .lestroisbtn__3__box:hover .lestroisbtn__3__box__icon-color {
  color: #9356DC;
}
.lestroisbtn .lestroisbtn__3__box__icon-color {
  color: #7E7E7E;
}
.lestroisbtn p {
  font-weight: 500;
}
@media all and (min-width: 768px) and (max-width: 1023px) {
  .lestroisbtn {
    flex-direction: row;
    display: flex;
    width: 100%;
    justify-content: space-evenly;
  }
  .lestroisbtn a {
    display: flex;
    flex-direction: row;
    width: 90%;
  }
}
@media all and (min-width: 1024px) {
  .lestroisbtn {
    flex-direction: row;
    display: flex;
    width: 100%;
    justify-content: space-evenly;
  }
  .lestroisbtn a {
    display: flex;
    flex-direction: row;
    width: 100%;
  }
}

.restaurants {
  background-color: #F6F6F6;
}
.restaurants .rest-t {
  padding-top: 50px;
  padding-bottom: 35px;
  font-size: 24px;
  margin-left: 20px;
  margin-right: 20px;
}
.restaurants strong {
  font-size: 18px;
  font-weight: 700;
}
.restaurants .ploc {
  font-weight: 300;
}
.restaurants .les4rest {
  margin-left: 20px;
  margin-right: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-bottom: 60px;
}
@media all and (min-width: 768px) {
  .restaurants .les4rest {
    flex-direction: row;
  }
}
.restaurants .les4rest a {
  position: relative;
}
@media all and (min-width: 767px) {
  .restaurants .les4rest a {
    width: 340px;
  }
}
.restaurants .les4rest__1 {
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
}
.restaurants .les4rest__1__img {
  height: 200px;
  object-fit: cover;
  width: 100%;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
.restaurants .les4rest__1__des {
  padding-left: 13px;
  padding-right: 25px;
  height: 80px;
}
.restaurants .les4rest__1__des__p-coeur {
  display: flex;
  justify-content: space-between;
  padding-top: 15px;
  padding-bottom: 2px;
}
.restaurants .les4rest__1__des__p-coeur p {
  padding-bottom: 5px;
}
.restaurants .les4rest__2 {
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
}
.restaurants .les4rest__2__img {
  height: 200px;
  object-fit: cover;
  width: 100%;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
.restaurants .les4rest__2__des {
  padding-left: 13px;
  padding-right: 25px;
  height: 80px;
}
.restaurants .les4rest__2__des__p-coeur {
  display: flex;
  justify-content: space-between;
  padding-top: 15px;
  padding-bottom: 2px;
}
.restaurants .les4rest__2__des__p-coeur p {
  padding-bottom: 5px;
}
.restaurants .les4rest__3 {
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
}
.restaurants .les4rest__3__img {
  height: 200px;
  object-fit: cover;
  width: 100%;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
.restaurants .les4rest__3__des {
  padding-left: 13px;
  padding-right: 25px;
  height: 80px;
}
.restaurants .les4rest__3__des__p-coeur {
  display: flex;
  justify-content: space-between;
  padding-top: 15px;
  padding-bottom: 2px;
}
.restaurants .les4rest__3__des__p-coeur p {
  padding-bottom: 5px;
}
.restaurants .les4rest__4 {
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
}
.restaurants .les4rest__4__img {
  height: 200px;
  object-fit: cover;
  width: 100%;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
.restaurants .les4rest__4__des {
  padding-left: 13px;
  padding-right: 25px;
  height: 80px;
}
.restaurants .les4rest__4__des__p-coeur {
  display: flex;
  justify-content: space-between;
  padding-top: 15px;
  padding-bottom: 2px;
}
.restaurants .les4rest__4__des__p-coeur p {
  padding-bottom: 5px;
}

.fa-heart {
  font-size: 2rem;
}
.fa-heart:hover {
  background-image: linear-gradient(#9356DC, #FF79DA);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  font-weight: bold;
  animation: remplissage 300ms;
  animation-delay: 100ms;
}

.titres {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-right: 40px;
  padding-left: 17px;
}
@media all and (min-width: 1024px) {
  .titres {
    justify-content: center;
    gap: 25px;
  }
}

.menu {
  z-index: 2;
  margin-top: -50px;
  border-radius: 20px 20px 0 0;
  background-color: #F7F7F7;
  max-width: 1055px;
  margin-left: auto;
  margin-right: auto;
}
.menu .title-section {
  font-size: 16px;
  font-weight: 300;
  text-transform: uppercase;
  padding-top: 40px;
  padding-bottom: 12px;
  width: 100%;
  position: relative;
}
.menu .title-section::before {
  content: "";
  display: block;
  position: absolute;
  transform: translateY(700%);
  height: 3px;
  width: 40px;
  background: #99E2D0;
}
.menu section {
  padding-left: 13px;
  padding-right: 13px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}
@media all and (min-width: 1024px) {
  .menu section {
    margin-left: 210px;
    margin-right: 210px;
  }
}
.menu .box-p {
  display: flex;
  width: 100%;
  position: relative;
}
.menu .box-p:hover .fill {
  width: 59px;
}
.menu .box-p:hover .box {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.menu .box-p:hover .fill .fa-check-circle {
  color: white;
}
.menu .box-p .box {
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  height: 68px;
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  width: 100%;
  overflow: hidden;
  background-color: white;
  counter-increment: box;
}
.menu .box-p .box__detail {
  max-width: 500px;
  min-width: 0;
}
.menu .box-p .box__detail strong {
  font-size: 18px;
}
.menu .box-p .box__detail p {
  font-size: 16px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.menu .box-p .box__detail__price {
  font-weight: 700;
  display: flex;
  align-items: flex-end;
  height: 60%;
  padding-right: 10px;
}
.menu .box-p .box__detail__price p {
  font-size: 15px;
}
.menu .box-p .fill {
  background-color: #99E2D0;
  transition: 500ms ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 0;
  border-radius: 0 15px 15px 0;
}
.menu .box-p .fill .fa-check-circle {
  font-size: 1.5rem;
  color: transparent;
}

.btn-command {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*# sourceMappingURL=style.css.map */
