footer {
    background-color: $bgfooter;
    padding-left: 25px;
    padding-bottom: 30px;
    width: 100%;
    @media all and (min-width: 1024px) {
        display: flex;
        flex-direction: row-reverse;
        justify-content: flex-start;
        align-items: center;
        padding: 0;
        height: 114px;
    }
    h3 {
        font-family: 'Shrikhand';
        color: white;
        font-size: 18px;
        padding-top: 20px;
        padding-bottom: 10px;
        @media all and (min-width:1024px) {
            padding-top: 0;
            padding-bottom: 0;
            padding-left: 40px;
            padding-right: 100px;
        }
    }
    i {
        color: white;
        font-size: 1rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    p {
        color: white;
        padding: 2px;
    }
    .foot-det {
        display: flex;
        flex-direction: column;
        justify-content: center;
        @media all and (min-width: 1024px) {
            flex-direction: row;
        }
        a {
            text-decoration: none;
            color: white;
            padding: 2px;
        }
        @media all and (min-width: 1024px) {
            display: flex;
            gap: 40px;
            align-items: flex-end;
            justify-content: center;
        }
        &__prop {
            display: flex;
            gap: 15px;
            align-items: center;

        }
        &__dev {
            display: flex;
            gap: 10px;
        }
    }
}

