.container-loader {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 100%;
    height: 100vh;
    z-index: 500;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: $light-blue;
    animation: lesscale 3s linear forwards;
    .lettre {
      color: $color-tertiary;
      font-size: 4.5rem;
      letter-spacing: 15px;
      animation: flash 1200ms linear 3 100ms forwards;
      z-index: 500;
    }
    .lds-hourglass {
      display: block;
      border-radius: 50%;
      width: 0;
      height: 0;
      margin: 8px;
      box-sizing: border-box;
      border: 32px solid $color-primary;
      border-color: $color-primary transparent $color-secondary transparent;
      animation: hourglass 1200ms linear 3 100ms forwards;
      z-index: 500;
    }
  }

  @for $i from 1 through 8 {
    .lettre:nth-child(#{$i}) {
      animation-delay: 0.1s * $i;
    }
  }



