@each $titre in $titres {
    #{$titre} {
      font-family: 'Shrikhand', cursive;
    }
  }
  
body *:not(#{$titres}) {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

  
* {
  margin: 0;
  padding: 0;
}

.container-g {
  margin-left: auto;
  margin-right: auto;
  max-width: 1440px;
  height: 100%;
}


a {
  text-decoration: none;
  color: black;
}
