$titres: h1;
$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;
$dark-green: rgb(0, 124, 93);
$light-blue: rgb(123, 190, 245);
$dark-blue: rgb(0, 48, 91);
$greybackground: #EAEAEA;
$lightgreybg: #F6F6F6;
$greyicon: #7E7E7E;
$bglightpurple: #F5EDFF;
$nb-fonct-box: 3;

