$titres: h1;
$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;
$dark-green: #008766;
$light-blue: rgb(123, 190, 245);
$dark-blue: rgb(0, 48, 91);
$greybackground: #EAEAEA;
$lightgreybg: #F6F6F6;
$greyicon: #7E7E7E;
$bglightpurple: #F5EDFF;
$bgfooter: #353535;
$nb-fonct-box: 3;
$nb-rest-box: 4;
$bgmenu: #F7F7F7;

// définition des variables pour l'animation
$animation-duration: 1500ms;
$animation-timing-function: cubic-bezier(0.74, 0.35, 1, 0.91);
$animation-delay: 200ms;
$x: 5;